<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<connectionStrings>
		<add
			name="MyDB"
			connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Sistema Estudiantes;Integrated Security=True;Encrypt=False;"
			providerName="System.Data.SqlClient"
		/>
	</connectionStrings>	
</configuration>
